body, html {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#navbar {
    z-index: 100;
    position: relative;
    height: 70px;
    background-color: #4286f4;
}

.menu {
    border: 0;
    max-height: 70px;
    float: left;
    width: 100%;
    text-align: center;
}

.desktop {
    font-size: 0;
    min-height: 70px;
    background: none;
    padding-left: 10px;
    padding-right: 10px;
    float: none;
}

.desktop li {
    border: 0;
    margin-left: 1px;
    margin-right: 1px;
    height: 70px;
    display: inline-block;
    float: none;
    list-style: none;
    padding: 0;
    position: relative;
}

.desktop li a {
    transition: all 300ms ease;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    margin: 0 auto;
    text-transform: uppercase;
    display: inline-block;
    height: 70px;
    padding: 27px 13px;
}

.desktop li a:hover { background-color: #00c0ff; }

.desktop .submenu {
    position: absolute;
    display: block;
    margin-top: 0;
    padding: 0;
    min-height: 100px;
    width: 200px;
    height: initial;
    visibility: hidden;
    text-align: left;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -webkit-transition: transform 300ms ease, opacity 300ms ease;
    -moz-transition: transform 300ms ease, opacity 300ms ease;
    -ms-transition: transform 300ms ease, opacity 300ms ease;
    -o-transition: transform 300ms ease, opacity 300ms ease;
    transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
}

.desktop li a:hover + .submenu, .desktop li a + .submenu:hover {
    visibility: visible;
    opacity: 0.95;
    transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.desktop .submenu li {
    border: 0;
    font-size: 0;
    line-height: 1;
    text-align: left;
    width: 200px;
    height: initial;
    margin: 0 auto;
}

.desktop .submenu .submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    top: 0;
    width: 200px;
}

.desktop .submenu .submenu li { width: 200px; }

.desktop .submenu li a {
    display: block;
    background-color: #00c0ff;
    min-height: 45px;
    height: auto;
    border: 0;
    line-height: 1;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 0;
}

.desktop .submenu li a:hover {
    background-color: #f77300;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#openMenu {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    top: 27px;
    left: 20px;
    display: none;
}

.mobile {
    opacity: 0.95;
    background-color: #333;
    text-align: left;
    margin: 0 auto;
    overflow-y: hidden;
    transition: all 300ms ease;
    width: 300px;
    position: absolute;
    top: 70px;
    left: -300px;
}

.open {
    opacity: 0.97;
    display: block;
    left: 0px;
}

.mobile li { display: block; }

.mobile li a {
    padding: 12px 8px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.mobile li a:hover {
    color: #4286f4;
    background-color: #ffffff;
}

.overlay {
    cursor: pointer;
    width: 100%;
    height: calc(100% - 70px);
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.info {
    color: #f77300;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

#section-2{background:#0798ec}.github-data{display:inline-block;padding:5px 10px;margin:2em 5px 0 5px;border-radius:5px;width:25%;max-width:118px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}.github-data h4{font-size:1.6em}.github-data span{font-size:.9em}.github-data-1{background:#404b5a}.github-data-2{background:#2fd069}.github-data-3{background:#fc6c7c}.trusted-by-big{margin:2em;background-image:url(../imgs/trusted-by-big.png);max-width:633px;height:118px;margin:1em auto 0 auto}.compatible{margin:2em;background-image:url(../imgs/compatible.png);width:80%;max-width:444px;height:78px;margin:1em auto 0 auto}.bg-image{background-size:93% auto;background-repeat:no-repeat;background-position:50%}.slide{position:relative}.sponsors{font-size:14px;width:238px;display:block;position:absolute;bottom:10px;right:12px;text-align:left}.sponsors a{background-image:url(../imgs/sponsors2.png);width:44px;background-position:-50px 7px;height:51px;display:inline-block;background-repeat:no-repeat}.sponsors a:nth-child(3){background-position:0 7px}.sponsors a:nth-child(4){background-position:-100px 7px}.sponsors a:nth-child(5){background-position:-150px 7px}.sponsors a:nth-child(6){background-position:-200px 7px}.fp-slidesNav{width:400px}@media screen and (max-width:550px){.sponsors{display:none}}#section-3{background:#fc6c7c}#section-3 .intro{display:inline-block;vertical-align:top;text-align:left;width:50%;padding:0 3em}#section-3 .intro p{width:100%;max-width:100%;padding:0}.shell{width:calc(50% - 54px);display:inline-block;background-color:#173549;border-radius:5px 5px 0 0;text-align:left;margin-right:54px}.shell-header{background:#e5e4e4;padding:0 7px;position:relative}.shell-header-actions{border-radius:50%;height:10px;width:10px;margin:0 2px;box-shadow:0 0 10px 1px;display:inline-block}.shell-demo{position:absolute;right:15px;top:13px;color:#173549}.shell-demo:hover{text-decoration:underline;float:right}.shell-header-close{background:red}.shell-header-minimize{background:#ff0}.shell-header-maximize{background:green}.shell-tab{padding:5px 10px;display:inline-block;padding:14px 10px}.shell-tab{color:#173549}.shell-tab.active{background:#fff;margin:0}.shell-tab:hover{color:#000}.shell-tab-content{display:none}.shell-tab-content.active{display:block}figure{margin:0}.shell-body{margin:2.18em;font-size:1.4em;overflow-x:scroll}#section-4{background-color:#fec401;background-image:url(../imgs/touch-responsive.jpg);background-position:50% 100%;background-repeat:no-repeat}.languages{display:none;border-radius:15px;background-color:#fff;padding:46px 0 15px 0;position:relative;margin-top:-46px;z-index:-1}.language.active .languages{display:block}.language.active .language-current{color:#004f69}.language.active .language-triangle{fill:#004f69}.language a{padding:6px 15px;display:block;color:#004f69}.language a:hover{background:#f2f2f2}.examples{position:absolute;top:-15px;left:5px;width:100%;bottom:0;background:#435b71;text-align:center;padding-top:77px;height:100%;opacity:0;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out;display:block;visibility:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;max-height:100%}.examples.active{opacity:1;top:0;left:0;visibility:visible;z-index:9999}.examples-wrapper{display:table-cell;vertical-align:middle;top:50%;position:absolute;transform:translateY(-50%);left:0;right:0;margin:0 auto}.examples-column{display:inline-block;vertical-align:top;text-align:left;width:calc(25% - 30px);min-width:250px;margin:0 0 40px 0}.examples-column h3{font-size:25px;padding:0 0 20px 5px;color:rgba(255,255,255,.6);font-weight:700;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased}.examples-column a{font-size:16px;padding:5px;display:inline-block;color:#fff}.examples-column a{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px transparent;position:relative;overflow:hidden}.examples-column a:before{content:"";position:absolute;z-index:-1;left:0;right:100%;bottom:0;background:#fff;height:2px;-webkit-transition-property:right;transition-property:right;-webkit-transition-duration:.6s;transition-duration:.6s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.examples-column a:active:before,.examples-column a:focus:before,.examples-column a:hover:before{right:0}.info-close{position:fixed;top:20px;right:48px;z-index:999;font-size:3em;cursor:pointer;height:50px;width:50px;box-sizing:border-box;line-height:50px;display:inline-block;-webkit-transition:all 530ms cubic-bezier(.48,.030,.195,1);-webkit-transition:all 530ms cubic-bezier(.48,.030,.195,1.51);-moz-transition:all 530ms cubic-bezier(.48,.030,.195,1.51);-o-transition:all 530ms cubic-bezier(.48,.030,.195,1.51);transition:all 530ms cubic-bezier(.48,.030,.195,1.51);transform:scale(0) translateZ(0)}.examples.active .info-close{transform:scale(1) translateZ(0)}.info-close:after,.info-close:before{transform:rotate(-45deg);content:'';position:absolute;top:50%;left:50%;margin-top:-5px;margin-left:-25px;display:block;height:10px;width:50px;background-color:#fff;transition:all .25s ease-out}.info-close:after{transform:rotate(-135deg)}.info-close:hover:after,.info-close:hover:before{transform:rotate(0)}.hll{background-color:#49483e}.c{color:#75715e}.err{color:#960050;background-color:#1e0010}.k{color:#66d9ef}.l{color:#ae81ff}.n{color:#f8f8f2}.o{color:#f92672}.p{color:#f8f8f2}.cm{color:#75715e}.cp{color:#75715e}.c1{color:#75715e}.cs{color:#75715e}.ge{font-style:italic}.gs{font-weight:700}.kc{color:#66d9ef}.kd{color:#66d9ef}.kn{color:#f92672}.kp{color:#66d9ef}.kr{color:#66d9ef}.kt{color:#66d9ef}.ld{color:#e6db74}.m{color:#ae81ff}.s{color:#e6db74}.na{color:#a6e22e}.nb{color:#f8f8f2}.nc{color:#a6e22e}.no{color:#66d9ef}.nd{color:#a6e22e}.ni{color:#f8f8f2}.ne{color:#a6e22e}.nf{color:#a6e22e}.nl{color:#f8f8f2}.nn{color:#f8f8f2}.nx{color:#a6e22e}.py{color:#f8f8f2}.nt{color:#f92672}.nv{color:#f8f8f2}.ow{color:#f92672}.w{color:#f8f8f2}.mf{color:#ae81ff}.mh{color:#ae81ff}.mi{color:#ae81ff}.mo{color:#ae81ff}.sb{color:#e6db74}.sc{color:#ffc600}.sd{color:#e6db74}.s2{color:#e6db74}.se{color:#ae81ff}.sh{color:#e6db74}.si{color:#e6db74}.sx{color:#e6db74}.sr{color:#e6db74}.s1{color:#e6db74}.ss{color:#e6db74}.bp{color:#f8f8f2}.vc{color:#f8f8f2}.vg{color:#f8f8f2}.vi{color:#f8f8f2}.il{color:#ae81ff}.my-arrow svg{padding:5px}.my-arrow{cursor:pointer;position:absolute;top:50%;margin-top:-45px;width:70px;height:90px;z-index:99;-webkit-appearance:none;background:0 0;border:0;outline:0}.my-arrow.left{left:35px}.my-arrow.right{right:35px}polyline{stroke-width:3}.my-arrow.left:focus polyline,.my-arrow.left:hover polyline{stroke-width:6}.my-arrow.left:active polyline{stroke-width:10;transition:all .1s ease-in-out}.my-arrow.right:focus polyline,.my-arrow.right:hover polyline{stroke-width:6}.my-arrow.right:active polyline{stroke-width:10;transition:all .1s ease-in-out}polyline{transition:all 250ms ease-in-out}
@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
    font-family: arial,helvetica;
    color: #333;
    color: rgba(0,0,0,0.5);
}
.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
h1{
    font-size: 6em;
}
p{
    font-size: 2em;
}
.intro p{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
.section{
    text-align:center;
}
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}
.twitter-share-button{
    position: fixed !important;
    z-index: 99;
    right: 149px;
    top: 9px;
}
#infoMenu{
    height: 20px;
    color: #f2f2f2;
    position:fixed;
    z-index:70;
    bottom:0;
    width:100%;
    text-align:right;
    font-size:0.9em;
    padding:8px 0 8px 0;
}
#infoMenu ul{
    padding: 0 40px;
}
#infoMenu li a{
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}
#infoMenu li a:hover{
    text-decoration:underline;
}
#infoMenu li{
    display:inline-block;
    position:relative;
}
#examplesList{
    display:none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width:822px;
    text-align:left;
}
#examplesList ul{
    padding:0;
}
#examplesList ul li{
    display:block;
    margin: 5px 0;
}
#examplesList ul li a{
    color: #BDBDBD;
    margin:0;
}
#examplesList ul li a:hover{
    color: #f2f2f2;
}
#examplesList .column{
    float: left;
    margin: 0 20px 0 0;
}
#examplesList h3{
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}



/* Demos Menu
 * --------------------------------------- */
#demosMenu{
    position:fixed;
    bottom: 10px;
    right:10px;
    z-index: 999;
}

/* Buttons
 * --------------------------------------- */
#download a{
    text-decoration: none
}
#download,
#download:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}
.button {
    margin: 20px 0 0 0;
    vertical-align: middle;
    display: inline-block
}

.button a {
    color: #fff;
    background: rgba(0,0,0,0.4);
    padding: 15px 30px;
    border-radius: 5px;
    display: inline-block;
}

.button a:hover {
    color: #316f68;
    background-color: #fff
}


/* Extensions preview menu
 * --------------------------------------- */
.preview-extensions-menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    border-top: 0;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.8);
}
.preview-extensions-menu li{
    display: inline-block;
    margin: 0;
}
.preview-extensions-menu li a{
    padding: 15px 25px;
    display: block;
}
.preview-buy-extension{
    background: #3cc63c;
}
.preview-more-extensions{
    background: #fff;
}
.preview-buy-extension a{
    color: #fff;
}
.preview-buy-extension:hover{
    background-color: #1a961a;
}
.preview-more-extensions a{
    color: #333;
}

.code{
    background: rgba(255,255,255,0.7);
    padding: 0px 5px;
    line-height: 25px;
}